body {
  background-image:url(https://cdn.hipwallpaper.com/i/42/1/qeG9i7.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color:#FF00FF;
  font-family: "Segoe Script";
  font-size: 45px;
  font-weight: bold;
  text-align: left;
} 

p {
  color: blue;
  font-size: 20px;
  font-style: italic;
  text-align: left;
  font-weight: bold;
}
p1 {
  color: red;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}
